{% extends 'base.html' %}
{% block content %}

<h1>Toy Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ toy.name }}</span>
    <p>Maker: {{ toy.maker }}</p>
    <p>Description: {{ toy.description }}</p>
    <p>Release year: {{ toy.release_year }}</p>
    <p>Estimated value: {{ toy.value }} </p>
  </div>
  <div class="card-action">
    <a href="{% url 'toys_update' toy.id %}">Edit</a>
    <a href="{% url 'toys_delete' toy.id %}">Delete</a>
  </div>
</div>

{% endblock %}